@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
        url(/assets/fonts/Montserrat-Medium.woff2) format(woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
        url(/assets/fonts/Montserrat-Bold.woff2) format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Fraunces";
    src: local("Fraunces"),
        url(/assets/fonts/Fraunces_9pt-Bold.woff2) format(truetype);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
