.attribution {
    font-size: 11px;
    text-align: center;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: $dark-grayish-blue;
    a {
        color: hsl(228, 45%, 44%);
    }
}
